body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

form {
  width: 100%;
}

.styles1 {
  min-width: 200px;
  text-align: center;
}
.jumbotron {
  height: 183px;
  margin: 2px;
  padding: 60px;
  margin-bottom: 10px;
  background-size: cover;
  background-image: url(../img/banner.jpg);
  border: solid;
  border-width: 1px;
  border-color: #a8a5a6;
  posistion:relative;
  z-index: 2;
  box-shadow: 0 6px 15px -6px #a8a5a6;
}
.jumbotron h2 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 10px;
  font-size: 75px;
  text-align: center;
  color: #FFF;
  margin-top: -20px;
}
